body{
    color:rgb(30, 18, 102);
}

h4{
    color:rgb(48, 34, 131);
}

header{
    background-color:mediumpurple;
}

#pre-chorus{
    color:rgb(116, 23, 163);
}

#chorus{
    color:rgb(30, 18, 102);
}

#verse{
    color:rgb(130, 69, 199);
}