@font-face{
    src: url(font/OpenSans.ttf);
    font-family:Open-Sans-Light;
}

body{
    color:rgb(30, 18, 102);
    background-color:rgb(206, 181, 255);
    font-family: verdana, georgia;
    /*border:1px solid;*/
    display: flow-root; /*Prevents floating image from overflowing outside of a border*/

}

#pianofact{
    border: 2px solid;
    height: 75px;
    overflow: auto; /*visible, hidden, clip, clip-margin, scroll, auto*/
}

#img1{
    float:left;
    margin-right: 15px;
    margin: 5px;
}

#img2{
    float:right;
    margin-left:15px;
    margin:5px;
}

.box{
    width:250px;
    height:250px;
    background-color:rgb(255, 242, 224);
    box-shadow: 1px 1px 5px;
    font-size: 5em;
    margin: 50px; /*use auto to fix it to a side*/
}

#box1{
    background-color:rgb(161, 207, 250);
    
}

#box2{
    background-color:rgb(249, 166, 255);
}


h1{
    border-style: outset;
    border-color:rgb(116, 23, 163);
    /* border-top, left, right, bottom radius (to round)*/
    text-shadow: 1px 1px 5px rgb(188, 131, 228); /*Can add another shadow, separate by comma*/
}

main{
    font-size: 15px;
}

h4{
    color:rgb(48, 34, 131);
}

header{
    background-color:mediumpurple;

}

#pre-chorus{
    color:rgb(116, 23, 163);
}

#chorus{
    color:rgb(30, 18, 102);
    
}

#verse{
    color:rgb(130, 69, 199);
}

input{
    color:rgb(30, 18, 102);
}

.chorus{
    font-weight:bold;
}