@font-face{
    src: url(font/OpenSans.ttf);
    font-family:Open-Sans-Light;
}

body{
    color:rgb(30, 18, 102);
    background-color:rgb(206, 181, 255);
    font-family: verdana, georgia;
    /*border:1px solid;*/
    display: flow-root; /*Prevents floating image from overflowing outside of a border*/

}

#pianofact{
    border: 2px solid;
    height: 75px;
    overflow: auto; /*visible, hidden, clip, clip-margin, scroll, auto*/
}

#img1{
    float:left;
    margin-right: 15px;
    margin: 5px;
}

#img2{
    float:right;
    margin-left:15px;
    margin:5px;
}

*{
    box-sizing: border-box; /*disregards padding or borders*/
}

.container{
    background-color: rgb(228, 210, 253);
    height:100vh;
    margin-bottom:20px;
}

.box{
    width:50%;
    height:auto;
    padding:20px;
    float:left;
    margin-bottom: 50px;
    text-align:center;
    min-height:50%;

    background-color:rgb(255, 242, 224);
    box-shadow: 1px 1px 5px;
    font-size: 5em;
    /* margin: 50px;*use auto to fix it to a side*/
}
/* Position: RELATIVE (moves from where it normally it) 
             FIXED (relative to viewport) 
             ABSOLUTE (relative to nearest ancestor)
             STICKY (moves based on scroll position)
             STATIC (default position for an element)*/
#box1{
    background-color:rgb(161, 207, 250);
    position:relative;
    top:100px;
    left:100px;

    
}

#box2{
    background-color:rgb(249, 166, 255);
}


h1{
    border-style: outset;
    border-color:rgb(116, 23, 163);
    /* border-top, left, right, bottom radius (to round)*/
    text-shadow: 1px 1px 5px rgb(188, 131, 228); /*Can add another shadow, separate by comma*/
}

main{
    font-size: 15px;
}

h4{
    color:rgb(48, 34, 131);
}

header{
    background-color:mediumpurple;

}

#pre-chorus{
    color:rgb(116, 23, 163);
}

#chorus{
    color:rgb(30, 18, 102);
    
}

#verse{
    color:rgb(130, 69, 199);
}

input{
    color:rgb(30, 18, 102);
}

.chorus{
    font-weight:bold;
}

/*
    #div{
        background-color: rgb(225, 111, 111);
        display: block; /* none (won't display), block, inline, or inline-block (can apply width + height)*/
        /* visibility: none; hides it, but still there 
        }  

    #span{
        background-color: rgb(123, 123, 234);
        display: block;
    }
*/


hr{
    border-color:rgb(59, 39, 93)
}

.pagination{
    text-align: center;

}
.pagination a{
    color:black;
    text-decoration:none; /*underlining*/
    padding: 8px 15px;
    display: inline-block; /*lets us adjust width and height*/
}
.pagination a.active{ /*Within the pagination class, within the anchor tags, find the class that is active*/
    background-color:rgb(245, 205, 255);
    font-weight:bold;
    border-radius:5px;
}
.pagination a:hover:not(.active){ /*Highlight elements that are hovered over but not active*/
    background-color:rgb(159, 136, 231);
}

.dropdown button{
    background-color:beige;
    color:rgb(59, 39, 93);
    padding:10px 15px;;
    border: none;
    cursor: pointer;

}

.dropdown{
    display:inline-block;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 5px;
}

.dropdown .content{
    display:none;
    background-color: beige;
    position: absolute;
    min-width:100px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.801);
}

.dropdown:hover .content{
    display:block;
}
.dropdown:hover button{
    background-color:rgb(245, 245, 220);
}
.dropdown a:hover{
    background-color:rgba(169, 138, 227, 0.276);
}