@font-face{
    src: url(font/OpenSans.ttf);
    font-family:Open-Sans-Light;
}

body{
    color:rgb(30, 18, 102);
    background-color:rgb(206, 181, 255);
    font-family: verdana, georgia;
}

#box1{
    width:100px;
    height:100px;
    background-color:rgb(255, 242, 224);
    box-shadow: 1px 1px 5px;
}

h1{
    border-style: outset;
    border-color:rgb(116, 23, 163);
    /* border-top, left, right, bottom radius (to round)*/
    text-shadow: 1px 1px 5px rgb(188, 131, 228); /*Can add another shadow, separate by comma*/
}

main{
    font-size: 15px;
}

h4{
    color:rgb(48, 34, 131);
}

header{
    background-color:mediumpurple;

}

#pre-chorus{
    color:rgb(116, 23, 163);
}

#chorus{
    color:rgb(30, 18, 102);
    
}

#verse{
    color:rgb(130, 69, 199);
}

input{
    color:rgb(30, 18, 102);
}

.chorus{
    font-weight:bold;
}